[submodule "day00"]
	path = day00
	url = https://github.com/DarkHonin/Piscine-PHP_day00.git
[submodule "day01"]
	path = day01
	url = https://github.com/DarkHonin/Piscine-PHP_day01.git
[submodule "day02"]
	path = day02
	url = https://github.com/DarkHonin/-Piscine-PHP_day02.git
[submodule "rush00"]
	path = rush00
	url = https://github.com/DarkHonin/Piscine-PHP_Rush00.git
[submodule "day03"]
	path = day03
	url = https://github.com/DarkHonin/Piscine-PHP_day03.git
[submodule "day07"]
	path = day07
	url = https://github.com/DarkHonin/Piscine-PHP_day07.git
[submodule "day08"]
	path = day08
	url = https://github.com/DarkHonin/Piscine-PHP_day08.git
